{
  "data": {
    "calendar": {
      "url": "https://calendar.google.com/calendar/ical/"
    }
  },
  "devices": {
    "powermate-ble": "<mac-address>"
  },
  "ui": {
    "hours": "left",
    "events": {
      "scheme": "time-based",
      "time-based-color-scheme": {
        "egde": "#ffffff",
        "past": "#3f3f3f",
        "present": "#ff0000",
        "impending": "#ff3f00",
        "future": "#ffbf00"
      },
      "sequence-color-scheme": [
        "#ff0000",
        "#ffff00",
        "#00ff00",
        "#00ffff",
        "#0000ff",
        "#ff00ff",
        "#ff7f00",
        "#7fff00",
        "#00ff7f",
        "#007fff",
        "#7f00ff",
        "#ff007f"
      ]
    }
  }
}
