{
  "data": {
    "calendar": {
      "url": "https://calendar.google.com/calendar/ical/"
    }
  },
  "devices": {
    "powermate-ble": "<mac-address>"
  },
  "ui": {
    "hours": "left",
    "events": {
      "scheme": "time-based",
      "time-based-color-scheme": {
        "egde": "#ffffff",
        "past": "#3f3f3f",
        "present": "#ff0000",
        "impending": "#ff3f00",
        "future": "#ffbf00"
      }
    }
  }
}
